{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'bw3backend_dataincoming_list' %}">dataincoming Listing</a></p>
<table class="table">
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>cliententrytime</td><td>{{ object.cliententrytime }}</td></tr>
<tr><td>workload</td><td>{{ object.workload }}</td></tr>
<tr><td>direction</td><td>{{ object.direction }}</td></tr>
<tr><td>callid</td><td>{{ object.callid }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit dataincoming</a>

{% endblock %}