
{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BOSWatch3 Login</title>

	<style>

body {
  background-image: url("{% static 'img/background-login.jpg' %}");
}

.form-signin {
  max-width: 480px;
  padding: 45px 35px 45px;
  margin: 1px auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);

}
</style>

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom/custom.css' %}" rel="stylesheet">

  </head>

  <body>
  <div class="container-fluid h-100 wrapper">
  <div class="row ">

  <div class=" col-md-2  mx-auto my-5">
  <div class="card text-center">

  <div class="card-body">
 <p class="my-3"><h2 class="font-weight-light"> BOSWatch 3 </h2>
 <h2> Login </h2></p>
<form method="post" novalidate>

      {% csrf_token %}
      
      <input type="text"
             name="{{ form.name.name }}"
             class="my-1 text-center form-control"
             placeholder="Nutzername"
             id="{{ form.name.id_for_label }}"
             {% if form.name.value != None %}value="{{ form.name.value|stringformat:'s' }}"{% endif %}
             maxlength="{{ form.name.field.max_length }}"
             {% if form.name.field.required %}required{% endif %}>
      <input type="password"
             name="{{ form.password.name }}"
             class="my-1 text-center form-control"
             placeholder="Passwort"
             id="{{ form.password.id_for_label }}"
             {% if form.password.value != None %}value="{{ form.password.value|stringformat:'s' }}"{% endif %}
             maxlength="{{ form.password.field.max_length }}"
             {% if form.password.field.required %}required{% endif %}>




      <button type="submit" class="my-3 btn btn-block btn-primary" >Login</button>
</form>
  </div>

</div></div>
  </div>
  </div>


  </body>

</html>
